
<div class="map">
  <div id="show-markers">
    <%= render 'markers' %>
  </div>
</div>

<div class="content">
	<h2>Find Your Runner</h2>

<!-- 	<h4 class="location">
    <i class="fa fa-map-marker"></i>
		<span>Enter location</span>
	</h4> -->

  <%= form_for(@user) do |f| %>
  	<h4 class="select-runner form-group">
      <i class="fa fa-user"></i>
      <span>Select runner</span>
      <span>
        <%= f.select :runner_ids, @runners.collect { |x| [x.name, x.id] }, {}, :multiple => true %>
      </span>
  	</h4>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %> 
</div>
