<div id="show-map">

    <script>

      $(function() {

      	var showRunnerLocation = setInterval(function() {
      		findRunner.loadRunners("<%= @runner.latitude %>", "<%= @runner.longitude %>", "<%= @runner.icon_url %> ");     
      		console.log("showed runners locations");
      	}, 300000);

      	console.log("reload map")

      });

    </script>


  <%= render 'map' %>

</div>
