/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
 	margin: 10px 0;
 	font-family: 'Lato', sans-serif;
 	width: 100%;
 }

.map, .content{
	display: inline-block;
	height: 100vh;
}

.map{
	width: 74%;

}
 .content{
 	width: 25%;
 	vertical-align: top;
 	text-align: center;

 	h2 {
 		background-color: #30ACD2;
 	 	color: #fff;
 	 	padding: 50px 20px;
 	 	margin: 0 2%;
 	}

 	h4{
 		margin: 15% 2%;
 		padding: 20px;
 		color: #fff;
 		text-align: left;

 		i{
 			margin-right: 10px;
 		}
 	}

 	.location{
 		background-color: #E96B56;
 	}

 	.select-runner{
 		background-color: #A2CFA5;
 	}
 }
